body {
    margin-top: 60px;
    *background-color: #F4F4F4;
    *background-image: url('loginbg.gif');
    *background-repeat: repeat-x;
}
body, td, th {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: blue;
}
a, a:visited {
    color: #000066;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}
form {
    margin: 0;
    padding: 0;
}
input, select {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.login_inputs {
    padding: 3px;
    border: 1px solid #ccc;
    font-size: 12px;
}
#logo {
    text-align: center;
    width: 420px;
    margin: 30px auto 10px auto;
    padding: 15px;
}
#login_container {
    color: #333;
    background-color: #fff;
    text-align: left;
    width: 430px;
    padding: 10px;
    margin: 0 auto 10px auto;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}
#login_container #login {
    text-align: left;
    margin: 0;
    padding: 20px 10px 20px 10px;
}
#login_container #login_msg {
    background-color: #FAF4B8;
    text-align: center;
    padding: 10px;
    margin: 0 0 1px 0;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}
#login_container #extra_info {
    background-color: #D3D3D3;
    text-align: left;
    padding: 10px;
    margin: 1px 0 0 0;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}