		<input type=\"range\" value=\"1\" step=\"1\" name=\"rating\" id=\"rating\"> (พอใช้-ดี-ดีมาก-เยี่ยม-ยอดเยี่ยม)
		<div class=\"rateit\" data-rateit-backingfld=\"#rating\" data-rateit-resetable=\"false\" data-rateit-ispreset=\"true\"
		data-rateit-min=\"0\" data-rateit-max=\"5\">
		</div>
		<script src=\"http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js\" type=\"text/javascript\"></script>
		<script type=\"text/javascript\">
			var jQuery_1_10_2 = $.noConflict(true);
		</script>
		<link rel=\"stylesheet\" href=\"js/rateit/rateit.css\">
		<script src=\"js/rateit/jquery.rateit.js\"></script>